@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  min-height: 25px;
  background-image: url(/slide_icon.svg);
  background-position: center;
}
